<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Northwest Valley .NET User Group (NWVDNUG) - @ViewBag.Title</title>
	<link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")" />
	<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
	@*<script src="@Url.Content("~/Scripts/bootstrap-dropdown.js")" type="text/javascript"></script>*@
	@RenderSection("Head", false)
</head>
<body style="padding-top:60px">
		@Html.Partial("_Topbar")
		<section class="container">
			<div class="row">
				<div id="leftNav" class="span3">
                    <h3>Site Navigation</h3>
                    <ul class="pills">
                        <li @if (ViewBag.NavActive == "Home") { <text> class="active" </text> }>@Html.ActionLink("Home Page", "Index", "Home")</li>
                        <li @if (ViewBag.NavActive == "Sponsors") { <text> class="active" </text> }>@Html.ActionLink("Sponsors", "Sponsors", "Home")</li>
                        <li @if (ViewBag.NavActive == "Network") { <text> class="active" </text> }>@Html.ActionLink("Network", "Network", "Home")</li>
                        <li @if (ViewBag.NavActive == "About") { <text> class="active" </text> }>@Html.ActionLink("About NWVDNUG", "About", "Home")</li>
                    </ul>
				</div>    
				<div id="bodyContainer" class="span13">
					@RenderBody()
				</div>    
			</div>
		</section>
		<footer>
			<div class="well">
				<div class="row">
					<div class="span4 offset1">Are you passionate about a topic? Do you want to present to the group. 
						Send us an email at <a href="mailto:speakers@nwvdnug.org">speakers@nwvdnug.org</a>
					</div>
					<div class="span4 offset2">
						Do you want to sponsor the group. Send us an email at 
						<a href="mailto:sponsor@nwvdnug.org">sponsor@nwvdnug.org</a>
					</div>
					<div class="span4 offset2">
						Do you want to help propel .NET forward? Maybe help out other developers. 
						We can use the the help. Please send an email to <a href="mailto:volunteer@nwvdnug.org">volunteer@nwvdnug.org</a>
					</div>
				</div>
			</div>
		</footer>
</body>
</html>
